.container {
    text-align: center;
}

#myCarousel {
    background-color: cornflowerblue;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}
.a{
    text-align: center;
}
body{
    background-color: aliceblue;
    text-align: center;
}